@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$Background: #57ac91;
$Card: #242226;

* {
    margin: 0;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Lexend Deca', sans-serif;

body {
    background-color: $Background;
    font-family: 'Inter', sans-serif;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

        .card {
            width: 1010px;
            height: 420px;
            background-color: $Card;
            display: flex;
            overflow: hidden;
            flex-direction: row-reverse;
            border-radius: 8px;
            box-shadow: -1px 6px 16px 7px hsl(0deg 0% 0% / 29%);
        }
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 485px;
}

.text-2 {
    display: flex;
    padding-top: 30px;
    padding-right: 188px;

        ul {
            list-style-type: none;
            font-family: 'Lexend Deca', sans-serif;
            color: hsl(0, 0%, 100%);
        }
}

.list-item {
    color: hsla(0, 0%, 100%, 0.6);
}

h1 {
    font-size: 1.3em;
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

span {
    color: $Background;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: smaller;

        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
        
        span {
            color: white;
        }

        a:hover {
            color: $Background;
        }
}

@media (max-width: 768px) {
    main .card {
        flex-direction: column;
        width: 343px;
        height: 759px;
    }

    .text {
        text-align: center;
        width: unset;
    }

    .text-2 {
    display: flex;
    padding-top: 30px;
    padding-right: 40px;
    flex-direction: column;
    gap: 33px;
    }

    img {
        padding-bottom: 24px;
    }
}