@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
}

body {
  background-color: #57ac91;
  font-family: "Inter", sans-serif;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .card {
  width: 1010px;
  height: 420px;
  background-color: #242226;
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
  border-radius: 8px;
  box-shadow: -1px 6px 16px 7px hsla(0, 0%, 0%, 0.29);
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 485px;
}

.text-2 {
  display: flex;
  padding-top: 30px;
  padding-right: 188px;
}
.text-2 ul {
  list-style-type: none;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 100%);
}

.list-item {
  color: hsla(0, 0%, 100%, 0.6);
}

h1 {
  font-size: 1.3em;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

span {
  color: #57ac91;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: smaller;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
footer span {
  color: white;
}
footer a:hover {
  color: #57ac91;
}

@media (max-width: 768px) {
  main .card {
    flex-direction: column;
    width: 343px;
    height: 759px;
    margin-top: 130px;
  }
  .text {
    text-align: center;
    width: unset;
  }
  .text-2 {
    display: flex;
    padding-top: 30px;
    padding-right: 40px;
    flex-direction: column;
    gap: 33px;
  }
  img {
    padding-bottom: 24px;
  }
  footer {
    bottom: -168px;
  }
}